i.gt-icon{
    color:rgba(48, 48, 59, 0.781);
    padding: 10px;
}

.little-box {
    border-radius: 10px;
    padding: 50px;
    height: 150px;
}
/*
#great-box .little-box:nth-child(1) {
    background: #3F51B5;
}
#great-box .little-box:nth-child(2) {
    background: #C62828;
}
#great-box .little-box:nth-child(3) {
    background: #4CAF50;
}*/

.box-black{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 0px;
}
.box-black h4{
    box-sizing: content-box;
    background-color: darkslategray;
    width: 100%;
    color: white;
    text-indent: 30px;
}

.fa-edit{
    color:  orange;
}
.fa-trash{
    color: darkred;
}